html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', sans-serif;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  margin: 0 auto;
  height: 100%;
  max-width: 600px;
  align-items: center;
}

#spacebar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 600px;
  border: 10px solid #CFD8DC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #CFD8DC;
  font-size: 2em;
  transition: transform 50ms linear;
}

.pop {
  position: absolute;
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}